<!DOCTYPE html>
<html>
  <head>
   <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
   <script type="text/javascript" src="javascripts/calculatorHandler.js"></script>
   
    <title><%= title %></title>
  </head>
  <body>
    <h1><%= title %></h1>
    <p>
    	Welcome to <%= title %>
      <br>

      <form>
      Input Lender ID:
      <input type="text" id="formValueId" name="valueId"/>

      <input type="button" id="lenderButton" value="Submit">
      </form>
      <br>
    	Output of Kiva API Query: 
      <br>
    </p>
  </body>
</html>

